@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Grey+Qo&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
                
/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background-color: #000;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.btn, .btn2 {
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 20px;
}

.btn {
    background-color: #E6533C;
}

.btn2 {
    border: 1px solid #fff;
    margin-left: 10%;
}

.description {
    font-size: small;
    color: #c7c7c7;
    margin-top: 5%;
    margin-bottom: 7%;
}

/* Header styles */
header {
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 10px 40px;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    color: #E6533C;
}

nav ul {
    display: flex;
    border-radius: 25px;
    border: 1px solid #ffffff80;
    padding: 0.5px;
    align-items: center;
}

nav ul li {
    margin: 0 20px;
    text-align: center;
}

.btn-home {
    padding: 10px 30px;
    background-color: #E6533C;
    color: #ffffff;
    border-radius: 25px;
    text-transform: uppercase;
}

/* Main content styles */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

section {
    margin-bottom: 60px;
}

h1, h2 {
    margin-bottom: 20px;
}

/* Hero section */
.title {
    color: #fff;
    font-size: 4.5em;
    font-weight: 800;
    line-height: 120%;
    text-align: left;
}

#shape {
    font-weight: 500;
    font-family: 'Miama', sans-serif;                                             
    font-style: normal;
    font-size: 2em;
}

#hero {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(48, 48, 48, 0.05));
    padding: 60px 0; /* Vertical padding only */
    margin-bottom: 60px;
 
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; 
}

.hero-content {
    flex-basis: 50%;
    text-align: left;
    padding-right: 40px;
}


.hero-image {
    flex-basis: 50%;
    position: relative;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    padding-left: 30%;
}

.hero-num {
    font-size: xx-large;
    font-weight: bolder;
}

.card {
    position: absolute;
    padding: 17px;
    margin: auto;
    border-radius: 15px;
    background-color: #2e2e2e;
}

.card-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.card-bottom-left {
    bottom: 90px;
    left: 50px;
}

.card-top-right {
    top: 140px;
    right: 5px;
}

/* Habits Section */
#habits {
    padding: 10px 0;
    text-align: center;
}

.habit-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.habit-item img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid #6e6e6e;
}

.habit_title {
    font-size: xx-large;
    font-weight: 800;
    margin-top: 1%;
    margin-bottom: 1%;
}

/* Extra mile section */
#extra-mile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191919;
    color: #fff;
    padding: 40px;
    border-radius: 7%;
}

.extra-mile-content {
    flex-basis: 50%;
    text-align: left;
    padding-right: 40px;
}

.extra-mile-title {
    font-size: 3.7em;
    font-weight: 800;
}

.extra-mile-image {
    flex-basis: 50%;
    border-radius: 5%;
    max-width: 100%;
    height: auto;
}

.centered-title {
    text-align: center;
    font-size: 3em;
    font-weight: 800;
}

/* Nutrition and Diet Tips section */
#nutrition-tips {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 60px;
}

.nutrition-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.nutrition-item {
    background-color: #191919;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.nutrition-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.nutrition-item h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

/* BMI Calculator section */
#bmi-calculator {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
    padding: 40px;
    border-radius: 20px;
}

.bmi-container {
    display: flex;
    justify-content: space-between;
}

.bmi-chart, .bmi-form {
    flex-basis: 48%;
}

.bmi-form form {
    display: flex;
    flex-direction: column;
}

.bmi-chart table {
    width: 100%;
    border-collapse: collapse;
}

.bmi-chart th, .bmi-chart td {
    border: 1px solid #555;
    padding: 10px;
    text-align: left;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-row input, .form-row select {
    width: 48%;
    padding: 10px;
    color: #9c9c9c;
    background: none;
}

.form-row select:only-child {
    width: 100%;
}

.bmi-form button {
    align-self: flex-start;
    margin-top: 10px;
}

.description2, .description3 {
    font-size: medium;
    color: #c7c7c7;
    margin-top: 1%;
    margin-bottom: 5%;
}

.description2 {
    text-align: center;
}

/* Team section */
.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background: #202020;
}

.team-member {
    position: relative;
    overflow: hidden;
    background: #202020;
}

.team-member h3,
.team-member p {
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px;
    color: #ffffff;
    margin: 0;

}

.team-member h3 {
    bottom: 30px;
}

.team-member p {
    bottom: 0;
}

.team-member img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8%;
}

/* Footer styles */
footer {
    padding: 40px 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo {
    flex-basis: 40%;
}

.footer-links {
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
}

.link-group h3 {
    margin-bottom: 20px;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* Hamburger menu styles */
.menu-toggle {
    display: none;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
}

.hamburger-menu span {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

/* Responsive styles for small devices (up to 576px) */
@media screen and (max-width: 576px) {
    /* Header styles */
    nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
        border: none;
    }

    nav ul li {
        margin: 10px 0;
        width: 100%;
    }

    .btn-home {
        width: 100%;
        border-radius: 5px;
    }

    /* Hero section */
    #hero {
        flex-direction: column;
        background-image: none;
    }

    .hero-container {
        flex-direction: column;
    }

    .hero-content, .hero-image {
        flex-basis: 100%;
    }

    .hero-content, .hero-image {
        flex-basis: 100%;
    }

    .hero-content {
        padding-right: 0;
        margin-bottom: 30px;
        
    }

    .hero-image img {
        padding-left: 0;
    }

    .card {
        position: absolute;
        padding: 10px; 
        margin: auto;
        border-radius: 10px;
        background-color: #2e2e2e;
        font-size: 14px;  
        max-width: 120px; 
    }

    .hero-num {
        font-size: large;  
        font-weight: bold; 
    }

    .card-bottom-left {
        bottom: 60px; 
        left: 30px;  
    }
    
    .card-top-right {
        top: 100px; 
        right: 0; 
    }
    

    .title {
        font-size: 2.2em;
    }

    .cta-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn, .btn2 {
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }

    /* Habits section */
    .habit-grid {
        grid-template-columns: 1fr;
    }

    /* Extra mile section */
    #extra-mile {
        flex-direction: column;
    }

    .extra-mile-content, .extra-mile-image {
        flex-basis: 100%;
    }

    .extra-mile-content {
        padding-right: 0;
        margin-bottom: 30px;
    }

    .extra-mile-title {
        font-size: 2.5em;
    }

    .nutrition-grid {
        grid-template-columns: 1fr;
    }


    /* BMI Calculator section */
    .bmi-container {
        flex-direction: column;
    }

    .bmi-chart, .bmi-form {
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    .form-row {
        flex-direction: column;
    }

    .form-row input, .form-row select {
        width: 100%;
        margin-bottom: 10px;
    }

    /* Team section */
    .team-grid {
        grid-template-columns: 1fr;
    }

    /* Footer styles */
    .footer-content {
        flex-direction: column;
    }

    .footer-logo, .footer-links {
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    .footer-links {
        flex-direction: column;
    }

    .link-group {
        margin-bottom: 20px;
    }

    
    .logo {
        order: 0;
    }

    /* Hamburger menu */
    .hamburger-menu {
        display: flex;
        order: 1;
    }
    
    .nav-menu {
        flex-basis: 100%;
        order: 2;
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        width: 100%;
    }

    .menu-toggle:checked ~ .nav-menu {
        display: flex;
    }
}
